__pycache__/
*.py[cod]

*.log
logs/
wandb/
.env
.env.*
!.env.example
experiments/
notebooks/
configs/multimodal/
.gitignore

checkpoints/**/*.pt
checkpoints/**/intermediate/
!checkpoints/encoder_decoder/c2e_transformer_\[0526-test1\].pt
